<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author Search</title>

    <link rel="stylesheet" th:href="@{/style.css}">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body topmargin="0" leftmargin="0">

<!-- HEADER -->
<div th:replace="fragments/common-header :: common-header"></div>


<!-- CONTENT -->
<div align="center">
    <table width="92%" cellpadding="4" cellspacing="3">
        <tr>
            <td bgcolor="#EEF5F8" align="center">
                <h3>Author Search</h3>
            </td>
        </tr>

        <tr>
            <td bgcolor="#EEF5F8">

                <!-- EMPTY STATE -->
                <div th:if="${#lists.isEmpty(authors)}">
                    <p>No authors found.</p>
                </div>

                <!-- AUTHOR LIST -->
                <div th:if="${!#lists.isEmpty(authors)}" style="text-align: center;">
                    <div th:each="author : ${authors}">
                        <a th:href="@{/authors/{id}(id=${author.id})}"
                           th:text="${author.name}">
                            Author Name
                        </a>
                        <br>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>

<!-- FOOTER -->
<br>

</body>
<div th:replace="~{fragments/common-footer :: common-footer}"></div>
</html>
