<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body topmargin="0" leftmargin="0">


<!-- HEADER -->
<div th:replace="fragments/common-header :: common-header"></div>


<!-- MAIN CONTENT -->
<div align="center">
    <table width="92%" cellpadding="4" cellspacing="3">
        <tr>
            <td bgcolor="#EEF5F8" align="center">
                <h3>Category Search</h3>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEF5F8">
                <!-- EMPTY STATE -->
                <div th:if="${categories == null || #lists.isEmpty(categories)}">
                    <p>No categories found.</p>
                </div>
                <!-- CATEGORY LIST -->
                <div th:if="${categories != null && !#lists.isEmpty(categories)}" style="text-align: center;">
                    <div th:each="category : ${categories}">
                        <a th:href="@{/categories/{id}(id=${category.id})}"
                           th:text="${category.categoryName}">
                            Category Name
                        </a>
                        <br>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<br>

</body>
<div th:replace="~{fragments/common-footer :: common-footer}"></div>
</html>
