<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Forgot Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<div class="centered-box">

    <h3>Forgot Login</h3>

    <form th:action="@{/forgot}" method="post" th:object="${forgotForm}">

        <div>
            <label>Email:</label>
            <input type="email" th:field="*{email}" required>
        </div>

        <br>

        <button type="submit">Get Login Info</button>

        <div th:if="${error}" class="message-error">
            <p th:text="${error}"></p>
        </div>

    </form>

    <br>
    <a href="/login">Back to Login</a>

</div>

</body>
</html>
