<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publisher Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body topmargin="0" leftmargin="0">

<!-- HEADER -->
<div th:replace="fragments/common-header :: common-header"></div>


<!-- MAIN CONTENT -->
<div align="center">
    <table width="92%" cellpadding="4" cellspacing="3">
        <tr>
            <td bgcolor="#EEF5F8" align="center">
                <h3>Publisher Search</h3>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EEF5F8">
                <!-- EMPTY STATE -->
                <div th:if="${publishers == null || #lists.isEmpty(publishers)}">
                    <p>No publishers found.</p>
                </div>
                <!-- PUBLISHER LIST -->
                <div th:if="${publishers != null && !#lists.isEmpty(publishers)}" style="text-align: center;">
                    <div th:each="publisher : ${publishers}">
                        <a th:href="@{/publishers/{id}(id=${publisher.id})}"
                           th:text="${publisher.publisherName}">
                            Publisher Name
                        </a>
                        <br>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<br>

<div th:replace="~{fragments/common-footer :: common-footer}"></div>

</body>
</html>
