<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${publisher.publisherName}">Publisher Summary</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body topmargin="0" leftmargin="0">

<!-- HEADER -->
<div th:replace="fragments/common-header :: common-header"></div>

<br><br>

<!-- MAIN CONTENT AREA -->
<table cellpadding="3" cellspacing="0" width="90%" border="0" style="border: 3px solid #0098CA" bgcolor="#EEF5F8" align="center">
    <tr>
        <td>
            <div align="center">
                <center>
                    <!-- PUBLISHER NAME -->
                    <table border="0" cellpadding="0" cellspacing="0" width="75%">
                        <tr>
                            <td width="50%" valign="top">
                                <font size="3"><b th:text="${publisher.publisherName}">Publisher Name</b></font>
                            </td>
                        </tr>
                    </table>

                    <hr noshade size="1" color="#C6C3C6" align="left">

                    <!-- EMPTY STATE -->
                    <div th:if="${categories == null || #lists.isEmpty(categories)}">
                        <p>No books found for this publisher.</p>
                    </div>

                    <!-- CATEGORY LIST -->
                    <div th:each="cat : ${categories}">
                        <!-- CATEGORY NAME TABLE -->
                        <table width="50%" bordercolor="#086194" border="1" cellspacing="0" cellpadding="3" align="center" valign="middle">
                            <tr class="ListTableRow">
                                <td height="20" valign="middle" align="left" class="contentblue">
                                    <b>&nbsp;
                                        <font color="#086194">■</font>&nbsp;
                                        <span th:text="${cat.categoryName}">Category</span>
                                    </b>
                                </td>
                            </tr>
                        </table>

                        <!-- BOOK COUNT AND VIEW LINK TABLE -->
                        <table width="50%" border="0" align="center">
                            <tr>
                                <td class="content" height="17" width="50%" align="center">
                                    <a th:href="@{/books(publisherId=${publisher.id},categoryId=${cat.categoryId})}">
                                        <font color="#086194">
                                            <b>
                                                <span th:text="${cat.bookCount}">0</span>&nbsp;book(s)
                                            </b>
                                        </font>
                                    </a>
                                </td>
                                <td class="content" height="17" width="50%" align="center">
                                    <a th:href="@{/books(publisherId=${publisher.id},categoryId=${cat.categoryId})}">
                                        View
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <br><br>
                    </div>

                </center>
            </div>
        </td>
    </tr>
</table>

<br><br>

<!-- FOOTER -->

<div th:replace="~{fragments/common-footer :: common-footer}"></div>

</body>
</html>
