<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Options</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>

<body topmargin="0" leftmargin="0">

<div th:replace="fragments/common-header :: common-header"></div>
<br>

<!-- MAIN CONTENT -->
<table width="100%" bgcolor="#0098CA" height="95%" border="0"
       style="border:3px solid #006080">
    <tr>

        <!-- LEFT PANEL -->
        <td valign="top" width="25%" class="user-options-left">
            <font><b>User Options:</b></font>
            <br><br>

            <center>
                &raquo; <a th:href="@{/change-password}">Change Password</a>
            </center>

            <br>

            <center>
                &raquo; <a th:href="@{/edit-profile}">Edit Profile</a>
            </center>
        </td>

        <!-- RIGHT PANEL -->
        <td width="75%">
            <table cellpadding="3" cellspacing="0" width="100%"
                   bgcolor="#BDDFFF" height="95%">
                <tr>
                    <td align="center" valign="top">
                        <br>
                        In this page you have some options for handling your account.<br>
                        Please select an option from the left panel.<br>&nbsp;
                    </td>
                </tr>
            </table>
        </td>

    </tr>
</table>

<br>

<!-- FOOTER -->
<div class="footer">
    &copy;2006 Book Portal
</div>

<div class="footer-links">
    <a href="#">Subscription Services</a> |
    <a href="#">About Us</a> |
    <a href="#">Contact Us</a> |
    <a href="#">Privacy Policy</a> |
    <a th:href="@{/admin}">Admin</a>
</div>

</body>
<div th:replace="~{fragments/common-footer :: common-footer}"></div>
</html>
