spring:
  application:
    name: book-portal

  datasource:
    url: jdbc:mysql://localhost:3306/book_portal
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  thymeleaf:
    cache: false

server:
  port: 8080

